{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="fixed-action-btn hide-on-small-only " style="bottom: 45px; right: 24px;">
  {% include 'partials/fight-button.html.twig' %}
</div>

<blockquote>
Rule 8: If this is your first time at GifFight.club, you have to fight
</blockquote>

<div class="section no-pad-bot no-pad-top" id="index-banner">
    <h1 class="header center orange-text">Dave Grohl’s Surgeon Invited to Sing With Foo Fighters And Rocked the Stadium!</h1>
    <div class="row center">
      <a href="http://www.goodnewsnetwork.org/dave-grohls-surgeon-invited-to-sing-with-foo-fighters-and-rocked-the-stadium/">Find out more from GoodNewsNetwork.org</a>
    </div>
</div>


  <div class="row">

    {% for gif in gifs %}
      <div class="col s12 m4 l3 gif no-padding">
        <div class='row vote'>
          <a href='/{{gif.aid}}/up' class='col s4 green lighten-1 center-align btn'>
            UP
          </a>
          <span class="col s4 btn-flat center-align">{{gif.score}}</span>

          <a href='/{{gif.aid}}/down' class='col s4 red lighten-1 center-align btn'>
            DOWN
          </a>
        </div>

        <div style='height:200px;min-height:200px;overflow:hidden;background-position: center;background-image: url("{{gif.url}}");background-repeat:no-repeat;' class="materialboxed" src="{{gif.url}}"></div>

        <!-- 
        If the person logged in, posted this one, let them remove it, as the link might not have worked 
        TODO: Disable vote links if they've already voted
        -->

        {% if app.session.get('twitter_screen_name') == gif.twitter_screen_name %}
          <div class='center-align'>
            <a href='/{{gif.aid}}/remove' class='btn red' style='width:100%;'>Remove</a>
          </div>
        {% else %}
          <div class='center-align'>
            <a target="_blank" href='https://twitter.com/intent/tweet?text=@{{gif.twitter_screen_name}} Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Taunt @ashleyhindle</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}