{% extends "layout.html.twig" %}
{% block content %}
<div class='container'>
  <div class="fixed-action-btn hide-on-small-only " style="bottom: 45px; right: 24px;">
    {% include 'partials/fight-button.html.twig' %}
  </div>

  <blockquote>
  Fight with your best reaction gif to the information below. Round One. Fight!
  </blockquote>

  <div class="section no-pad-bot no-pad-top" id="index-banner">
      <h1 class="header center orange-text">{{headline.title}}</h1>
      {% if headline.link is not empty %}
        <div class="row center">
          <a href="{{headline.link}}">Find out more from GoodNewsNetwork.org</a>
        </div>
      {% endif %}
  </div>
</div>


<div class='container' style='width: 90%;'>
  <div class='row'>
    <div class='col s12'>
    <strong>Current King Of The Gifs: </strong>
    <a href='https://twitter.com/intent/tweet?text=@{{current_winner}} I am coming for your crown at giffight!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>@{{current_winner}}</a>
  </div>
  </div>
  <div class="row">

    {% for gif in gifs %}
      <div class="col s12 m4 l3 gif no-padding">
        <div class='row vote'>
          <a href='/{{gif.aid}}/up' class='col s8 green lighten-1 center-align btn'>
                  <i class="material-icons left">done</i>UPVOTE!
          </a>
          <span class="col s4 btn-flat center-align">{{gif.score}}</span>
        </div>

        <div id='gif_{{gif.aid}}' style='height:200px;min-height:200px;overflow:hidden;background-position: center;background-image: url("{{gif.url}}");background-repeat:no-repeat;' class="materialboxed" data-caption="{{headline.title}}" src="{{gif.url}}"></div>

        <!-- 
        If the person logged in, posted this one, let them remove it, as the link might not have worked 
        TODO: Disable vote links if they've already voted
        -->

        {% if app.session.get('twitter_screen_name') == gif.twitter_screen_name %}
          <div class='center-align'>
            <a href='/{{gif.aid}}/remove' style='width:100%;'>Remove</a>
          </div>
        {% else %}
          <div class='center-align'>
            <a target="_blank" href='https://twitter.com/intent/tweet?text=@{{gif.twitter_screen_name}} Nice gif at giffight.club, but mine is better! ner ner!&hashtags=giffight&via=giffight&related=ashleyhindle&url=http://giffight.club'>Taunt @{{gif.twitter_screen_name}}</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div> <!-- close container -->
{% endblock %}